@import '../../style/lib/vars';

.cat-parent, .cat-body {
  float: left;
  margin-left: 25%;
  margin-top: $gutter-sm;
  width: 50%;
  background: #80ABAA;
  border-radius: $border-radius;
  position: relative;

  button {
    margin-top: $gutter-sm;
  }

  h3, p {
    float: left;
    width: 50%;
    margin-left: 10%;
    margin-top: $gutter-sm;
    font-size: 4vh;
  }
  button {
    margin-left: 10%;
  }

  span>button {
    position: absolute;
    right: 0;
    background: none;
    margin: 0;
    padding: 0;
    margin: 2% 2%;

  }
  input, input[type="number"] {
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: $gutter-sm;
    font-size: 1.5vw;
    border-radius: $border-radius;
    transition: $trans-prim;

  }

}

.cat-parent {
  height: 15vh;
  overflow: auto;
  transition: 350ms all;

  ul,input, input[type=number], span>form>button {
    opacity: 0;
    position: absolute;
    transition: 0ms all;
    transition-delay: 350ms position;
    transition-delay: 0ms opacity;

  }

  &:hover {
     height: 60vh;
     max-height: 1000vh;
     transition: 350ms all;
     transition-delay: 350ms all;

     ul, input, input[type=number], span>form>button {
       opacity: 100;
       position: static;
       transition-delay: 350ms opacity;
       transition: 350ms all;
     }
   }
}

.cat-body {
  width: 80%;
  float: left;
  margin: $gutter-sm 10%;
  background: white;
  border: 4px solid black;

  span>button {
    color: black;
  }

  button {
    margin-bottom: $gutter-sm;
  }
}
