@import '../../style/lib/vars';

.cat-parent, .cat-body {
  float: left;
  margin-left: 25%;
  width: 50%;
  background: pink;
  border-radius: $border-radius;
  position: relative;

  h3, p {
    float: left;
    width: 50%;
    margin-left: 25%;
    font-size: 4vh;
  }
  
}

.cat-body {
  width: 100%;
  float: left;
  margin: 0;
}
