@import '../lib/vars';

a {
  text-decoration: none;
  color: $black;
}

body {
  font-family: $font-primary;
  color: $secondary;
  background: $primary;
}

main {
  float: left;
  width: 100%;
  padding-bottom: 10vh;
}

button {
  border: none;
  color: white;
  background-color: black;
  padding: $gutter-sm/2 $gutter-lg/2;
  border-radius: $border-radius;
  float: left;
  margin-left: 25%;
  cursor: pointer;
  font-size: 2vw;
  transition: $trans-prim;

  &:hover {
    background: $btn-primary;
  }
}

main>span>form {
  width: 50%;
  height: 40vh;
  float: left;
  margin-left: 25%;
  margin-top: 2vh;
  border: 4px solid black;
  background: $secondary;
  border-radius: $border-radius;

  input[type=text], input[type=number] {
    box-sizing: border-box;
    padding: $gutter-sm/2;
    width: 80%;
    height: 10vh;
    margin-left: 10%;
    float: left;
    margin-top: $gutter-sm;
    font-size: 1.5vw;
    border-radius: $border-radius;
    transition: $trans-prim;

    &:hover {
      background: black;
      color: white;
    }
  }

  button {
    height: 8vh;
    font-size: 4vh;
    margin-top: $gutter-sm;
  }
}
